body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #70a8f2; 
    margin: 0;
    padding: 0;
}


h2 {
    color: #333;
    padding: 20px 0;
}

/* Container for project cards */
.projects-container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    padding: 20px;
    gap:10px;
}

/* Individual project card */
.project-card {
    background-color: #e7ecee; /* Light blue project box */
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: left;
}

/* Project title inside the card */
.project-card h4 {
    color: #191a1b;
    margin-bottom: 10px;
}

/* Project description */
.project-card p {
    color: #171616;
}

/* Project link button */
.project-card a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f0f4f7;
    color: rgb(22, 16, 16);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Hover effect for the button */
.project-card a:hover {
    background-color: #91f0c7;
}
