<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
</head>
<body>
    <h2>Admin Dashboard</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title" required>
        <br><br>
        <textarea rows="30" cols="50" name="description" placeholder="Description" required></textarea>
        <br><br>
        <label>Upload Images / File:</label>
        <input type="file" name="file"  required multiple>  
           <!-- accept=".pdf,.docx,.txt,.ppt" -->
        <br><br>
        <label>Select Type:</label>
        <select name="type" required>
            <option value="">-- Select Type --</option>
            <option value="projects">Project</option>
            <option value="events">Event</option>
        </select>
        <br><br>
        <button type="submit">Add</button>
    </form>

    <!-- <h3>Uploaded Projects</h3>
    <ul>
        {% for project in data.projects %}
            <li><strong>{{ project.title }}</strong>: {{ project.description }}</li>
        {% endfor %}
    </ul> -->
<!-- 
    <h3>Uploaded Events</h3>
    <ul>
        {% for event in data.events %}
            <li><strong>{{ event.title }}</strong>: {{ event.description }}</li>
        {% endfor %}
    </ul> -->

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>

