<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - Portfolio</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<header>
      <a href="{{ url_for('projects') }}">Projects</a>
      <a href="{{ github_url }}" target="_blank">GitHub</a>
      <a href="{{ linkedin_url }}" target="_blank">LinkedIn</a>
      <a href="#" onclick="toggleCertificates()">Certificates</a>
      <a href="#" onclick="toggleskills()">skills</a>
    </header>
        <h1>Welcome to My Portfolio</h1>
        <img src="/static/profile.jpg.jpg" alt="Profile Photo">
        <h2><strong>Mahek Thakur</strong></h2>
        <p>Aspiring Software Developer | I Love To Code ❤️</p>
        <p>Vignyan's Institute of management and technology for women | Third Year </p>
        <p>COMPUTER SCIENCE(ARTIFICIAL INTELLIGENCE & MACHINE LEARNING) </p>
        <p>CGPA: 8.5</p>
    

    
        <footer>
            <h3> To Contact Me </h3>
            <p>&copy; 2025 Your Name. All Rights Reserved.</p>
            Email: <a href="mahekthakur982@gmail.com" style="color: rgb(47, 32, 208);">mahekthakur982@gmail.com</a></p>
            <p>Connect with me on LinkedIn</p>
            <p>Follow on Github</p>
         
        </footer>
         
    
    
</body>
</html>
