<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - Portfolio</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<header>
    <a href="{{ url_for('admin') }}">Admin </a> 
    <a href="{{ url_for('projects') }}">Projects</a>
    <a href="{{ url_for('events') }}">Events </a>
    <a href="{{ github_url }}" target="_blank">GitHub</a>
    <a href="{{ linkedin_url }}" target="_blank">LinkedIn</a>
    
</header>


        
        
        <h1>Welcome to My Portfolio</h1>
        <img src="/static/profile.jpg.jpg" alt="Profile Photo">
        <h2>Mahek Thakur</h2>
        <p>Aspiring Software Developer | I Love To Code &#x1F49D;</p>
        <p>Vignyan's Institute of management and technology for women</p>
        <p>CGPA: 8.5</p>
    </div>

    
        <footer>
            <h3>Contact Me </h3>
                phone: +91 8688918973</p>
             <p>Email: <a href="mahekthakur982@gmail.com" style="color: rgb(178, 173, 230);">mahekthakur982@gmail.com</a></p>
            <p>LinkedIn: <a href="https://in.linkedin.com/in/mahek-thakur-095381324" style="color: lightblue;"> LinkedIn</a></p>
        </footer>
        
    
</body>
</html>
